@media(max-width:910px){
    .footer-rev{
        flex-direction: column;
        justify-content: center;
        text-align: center;
      
    }
}

.footer-grid{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: solid 0.7px #ffffff8b;
    color: aliceblue;
    padding: 30px;
    gap: 1rem;
}



.copyright{
    padding-top: 1rem;
   
   

}

.page-redirect{
    padding-top: 1rem;
}

.contact{
    padding-top: 1rem;
}

p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:1rem ;
}

.no-link, .no-link:focus, .nolink:hover, .no-link:active{
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:1.2rem ;
}
