.intro{
    font-weight: 500px;
   color: rgba(240, 248, 255, 0.719);
   margin-top: 0.5rem;
   font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
}

.int{
    font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: aliceblue;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 70px;
}

.name{
  color: #C499F3;
}

.bio{
  color: #FFCBCB;
}

