.intro{
    font-weight: 500px;
   color: rgba(240, 248, 255, 0.719);
   margin-top: 0.5rem;
   font-family: "Playwrite IT Moderna", cursive !important;
  font-optical-sizing: auto;
}

.int{
  
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: aliceblue;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 70px;
}

.name{
  color: #C499F3;
}

.bio{
  color: #FFCBCB;
}

/* 
Brief CSS 
*/

@media (min-width: 640px) {
  .sm-py-6 {
      padding-top: 10px;
      padding-bottom: 1rem;
  }
}

@media (min-width: 640px) {
  .sm-px-6 {
      padding-left: 4rem;
      padding-right: 4rem;
  }
}

@media (min-width: 768px) {
  .md-text {
      font-size: 60px;
  }
}

@media (min-width: 640px) {
  .sm-text {
      font-size: 50px;
  }
}

@media (min-width: 450px) {
  .xs-text {
      font-size: 40px;
  }
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.max-w-xl {
  max-width: 80rem;
}

.z-0 {
  z-index: 0;
}



.overview{
  color: #fff;
  font-weight: 900;
  font-size: 60px;
}

.biopic{
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 20px;
  font-weight: 100px;
  font-style: italic !important;
  color: #ddc5f6a9;
  margin-top: 1rem;
  max-width: 48rem;
  line-height: 30px;

}

.act {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style:none;
}

.Act {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 17px;
  color:#ddc5f6a9;
}

.li {
  display: list-item;
  text-align:left;
  
}


