.logo-banner-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo-1,.logo-2,.logo-3,.logo-4,.logo-5,.logo-6{
    padding: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.6rem;
    margin-top: 0.1rem;
    width: 130px;
    height: 130px;
    background-color: #D6EFD8;
    position: relative;
    border-radius: 20px;
    
}

@media (min-width:680px) and (max-width:1010px){
    .sm-680-px{
        display: grid;
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 150 150px;


    }
}




