.logo-banner-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo-1,.logo-2,.logo-3,.logo-4,.logo-5,.logo-6{
    padding: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.6rem;
    margin-top: 0.1rem;
    width: 130px;
    height: 130px;
    background-color: #D6EFD8;
    position: relative;
    border-radius: 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;;
    
}


@media (min-width:680px) and (max-width:1010px){
    .sm-680-px{
        display: grid;
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 150 150px;
    }
}

.grid-logo{
    padding-top: 10px;
}

/*
Timeline CSS
*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  
  .contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  

  .contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  

  .left {
    left: 0;
  }
  
  
  .right {
    left: 50%;
  }
  
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  
  .right::after {
    left: -16px;
  }
  
  
  .details-edu {
    padding: 20px 30px;
    background-color:rgb(29, 24, 54);
    position: relative;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    
  }
  
  
  @media (max-width: 600px) {
 
    .timeline::after {
      left: 31px;
    }
  

    .contain {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  
    .contain::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
  
    .right {
      left: 0%;
    }
  }

  .Edu-det{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 100px;    
  }

  .Edu-det h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
  }

 .Education{
    padding-bottom: 2.1rem;
    
 }

 .details-edu h3{
    font-weight: 700;
    font-size:1.7rem ;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
 }

 .edu {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:1rem ;
 }

 /*
 Social CSS
 */

 li{
    list-style: none;
    
}

.icons-insta{
    display: flex;
    margin: 2rem;
    border: solid 0.1px #ffffff3f;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
  
}

img{
    height: 2.1rem;
    color: aqua;
    
}

/*
Footer CSS
*/

@media(max-width:910px){
    .footer-rev{
        flex-direction: column;
        justify-content: center;
        text-align: center;
      
    }
}

.footer-grid{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: solid 0.7px #ffffff8b;
    color: aliceblue;
    padding: 30px;
    gap: 1rem;
}



.copyright{
    padding-top: 1rem;
   
   

}

.page-redirect{
    padding-top: 1rem;
}

.contact{
    padding-top: 1rem;
}

p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight:bold ;
    font-style: normal;
    font-size:15px ;
}

.no-link, .no-link:focus, .nolink:hover, .no-link:active{
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200 !important;
  font-style: normal;
  font-size:17px !important;
}



