@media(max-width:980px){
.project-grid{
    display:flex !important;
    flex-direction: column;
    gap: 30px;
  }
  .box-1,.box-2{
    height: fit-content;
    width:fit-content !important;
    
  }

  .portfolio,.note-app{
    margin-top: 1.2rem;
  }

  .portfolio h3, .note-app h3{
    text-align: left;
  }

  
}

.pro-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 2rem;
    
    
}

.box-1{
    grid-column-start: 1;
    grid-column-end:6 ;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    
}

.box-2{
    grid-column-start: -1;
    grid-column-end:8 ;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.img-1{
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.img-2{
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


.portfolio,.hackathon{
    grid-column-start: 7;
    grid-column-end: -1;
    
    

}

.note-app{
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.ul-p{
    margin-left: 0 !important;
    padding-left: 0 !important;
    display: flex;
    gap: 2rem;
    justify-content:flex-start ;
    list-style: none;
    flex-wrap: wrap;

}

.t-align-l{
    text-align: left;
}

.t-align-r{
    text-align: right;
}

.p-pro{
    text-align: justify !important;
    
    font-size: 1.2rem;
    color: #ddc5f6a9;

}



.h3-p{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #F7E7DC;
       
  
}

.ul-p>*{
    font-size: 1.1rem;
    color: #77B0AA;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    
}

#projects{
    margin-top: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px !important;
}

/*
contact
*/

.p-cont{
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: aliceblue;
  margin-top: 100px;
  font-size: 50px;
  
}

.contact-btn{
    cursor: pointer;
   
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-container {
    max-width: 820px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 3rem;
   
  }
  
 
  
  .form-grp {
    margin-bottom: 15px;
  }
  
  .form-grp label {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400 ;
  }
  
  .form-grp input,
  .form-grp textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid #000;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  .form-grp textarea {
  
    background-color: #fff;
  }
  
 
  
textarea::-webkit-scrollbar {
    width: 12px;
  }
  
  textarea::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 3px solid #f1f1f1; 
  }
  
  textarea::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
   