li{
    list-style: none;
    
}

.icons-insta{
    display: flex;
    margin: 2rem;
    border: solid 0.1px #ffffff3f;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
  
}

img{
    height: 2.1rem;
    color: aqua;
    
}